.btn {
    padding: 0.8rem 2rem;
    border-radius: 6px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    transition: all 0.2s ease;
    border: none;
    outline: none;
}

.btn-primary {
    background-color: white;
    color: black;
}

.btn-primary:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

.btn-secondary {
    background-color: rgba(109, 109, 110, 0.7);
    color: white;
}

.btn-secondary:hover {
    background-color: rgba(109, 109, 110, 0.4);
}

.btn-icon {
    width: 24px;
    height: 24px;
}